main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile {
    width: 83%;
    height: 100%;
    margin-top: 100px;
    text-align: center;
    /* width: 510px;
    height: 547px;
    color: #d2e0d4;
    padding-top: 20px;
    position: relative;
    */
}

.profile-top h1 {
    color: white;
}

.profile-bottom {
    padding-top: 10px;
    display: flex;
    color: gray;
    align-items: center;
    padding-bottom: 20px;
    border: solid gray;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-width: 0px 1px 1px 1px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.profile-bottom .grid-container > p:nth-child(-n+3) {
    color: black;
    font-weight: bold;
}

/* .profile-bottom:first-child{
    margin-left: 30px;
    padding-top: 10px;
    margin-right: 30px;
} */

.profile-bottom button {
    border: none;
    width: 130px;
    height: 35px;
    color: white;
    border-radius: 5px;
    background-color: #7cd423;
}

.grid-container {
    /* width: 250px; */
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-areas: 
    'val val val'
    'type type type';
    align-content: center;
    justify-content: center;
}

.profile-bottom .grid-container * {
    /* text-align: center; */
    margin: 10px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
} 

.profile-top {
    color: #d2e0d4;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    text-shadow: 2px 2px gray;
    background-image: radial-gradient(#7db787, #468850);
}

.profile-top * {
    margin: 0px;;
    padding: 0px;
}

.profile-top img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px gray;
}