<img src="{{ url_for('static', filename='profile_photo.jpeg')}}" alt="Profile photo showing spiderman pointing meme">
<h1>David Lynch</h1>
<p>@dlynch</p>
<p>Portmore, Jamaica</p>
<p>{{ date }}</p>
<hr>
<p>I am a dedicated software developer and back end programmer. 
    Contact be if you would like advise or assisstance
</p>
<span>
    <table>
        <tr>
            <td>
                10
            </td>
            <td>
                5
            </td>
            <td>
                15
            </td>
        </tr>
        <tr>
            <td>
                Posts
            </td>
            <td>
                Following
            </td>
            <td>
                Followers
            </td>
        </tr>
    </table>
</span>
<button>Follow</button>